{% extends 'base.html' %}

{% block title %}
Add Task - To-Do App
{% endblock %}

{% block content %}
<h2>Add a New Task</h2>
<form method="POST">
    {{ form.hidden_tag() }} <!-- CSRF 보호 -->
    <div>
        {{ form.title.label }}
        {{ form.title(size=50) }} <!-- 입력 필드 크기 조정 -->
    </div>
    <div>
        {{ form.description.label }}
        {{ form.description(rows=5) }} <!-- 텍스트 영역 크기 증가 -->
    </div>
    <div>
        {{ form.category.label }}
        {{ form.category(size=40) }}
    </div>
        <div>
        {{ form.priority.label }}
        <div>
            {% for subfield in form.priority %}
                <label class="priority-label">
                   {{ subfield.label.text }} <br> {{ subfield() }}
                </label>
            {% endfor %}
        </div>
    </div>
    <div>
        {{ form.deadline.label }}
        {{ form.deadline(class="form-control") }}
    </div>
    <div class="d-flex justify-content-end gap-2 mt-4">
        <a href="{{ url_for('tasks.task_list') }}" class="btn btn-danger btn-lg">Cancel</a>
        <button type="submit" class="btn btn-success btn-lg">Save</button>
    </div>
</form>
{% endblock %}
