{% extends 'base.html' %}

{% block title %}
로그인 - To-Do App
{% endblock %}

{% block content %}
<h2>로그인</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
        {% if form.username.errors %}
            <small class="error">{{ form.username.errors[0] }}</small>
        {% endif %}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
        {% if form.password.errors %}
            <small class="error">{{ form.password.errors[0] }}</small>
        {% endif %}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
